<div class="mysubnav">
  <nav>
        <a href="/paws/dogs/all">All Dogs</a>
        <a href="/paws/adoptions/adoptable">Adoptable</a>
        <a href="/paws/adoptions/notadoptable">Not Adoptable</a>
        <a href="/paws/adoptions/all">Adopted</a>
  </nav>
</div>
<br>
  <h2>Where Dogs are available for adoption </h2>
  <p>Find dogs looking for their 'forever home'.</p>
  <br>
<table>
  <tr>
    <th><p.thick>Dog Photo</p.thick></th>
    <th><p.thick>Animal Name</p.thick></th>
    <th><p.thick>Adoption Page</p.thick></th>
  </tr>
  <% for adoption in @adoptions %>
  <tr>
    <td><a href="/paws/dogs/<%= adoption.id %>"><img src="<%= adoption.dog_photo_file_path%>" alt="Dog Profile Photo" class="Centre" style="width:100px;border:0;"></td>
    <td><p> <%= adoption.animal_name() %></td>
    <td> <a href="/paws/adoptions/<%= adoption.id %>">View Details</a> </td>
      <% end %>
  </tr>
</table>
