<div class="mysubnav">
  <nav>
        <a href="/paws/dogs/all">All Dogs</a>
        <a href="/paws/adoptions/adoptable">Adoptable</a>
        <a href="/paws/adoptions/notadoptable">Not Adoptable</a>
        <a href="/paws/adoptions/all">Adopted</a>
  </nav>
</div>
<br>
<h2>All adoptable dogs</h2>

<p>Trained, innoculated and looking for love.</p>
<br>

<table>
  <tr>
    <th><p.thick>Dog Photo</p.thick></th>
    <th><p.thick>Animal Name</p.thick></th>
    <th><p.thick>Animal Status</p.thick></th>
    <th><p.thick>Adoption Page</p.thick></th>
  </tr>
  <% for adoption in @adoptions %>

<p><%= adoption.id  %></p>

<tr>
  <td> <%= adoption.dogs.animal_name %></a></td>
  <td> <%= adoption.dog.dog_adoption_complete() ? 'Yes' : 'No'  %></a></td>

</tr>

  <% end %>
</table>
