<article>
  <h2>Welcome to PAWS Animal Shelter</h2>

  <img src="/images/PAW+Print.png" style="width:300px;" class="center" alt="PAWS Animal Shelter Images">
  <p>PAWS has been part of the fabric of our city since 1883, working in partnership with the Council and Police services by welcoming lost or abandoned pets from all corners of Edinburgh and the Lothians.

On arrival with us dogs and cats are health checked, bathed if required, vaccinated and fed. They are scanned for a microchip and where present, we attempt to reach their owners. All available information about animal and their ownership is logged on our database, which ultimately helps us in the rehoming process, should an owner not be found.

Our success rate in reuniting lost animals with their owners is 55% meaning that happy endings are common at Edinburgh Dog and Cat Home. When an owner cannot be found after 7 days, our rehoming process kicks in – a structured programme that aims to make the best possible match between pet and human.</p>
</article>
