<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" media="only screen and (max-width: 400px)" href="/styles/mobile.css" />
      <link rel="stylesheet" media="only screen and (min-width: 401px)" href="/styles/style.css" />
  </head>

  <header>
    <nav>
      <div class="topnav">
        <div class="topnav-right">
          <a href=/paws/help>help</a>
          <a href="/paws/dogs/all">Dogs</a>
          <a href="/paws/humans/all">People</a>
        </div>

      </div>
    </nav>
    <div class="topnav-left">
      <a href="/">
      <h1><img src="/images/pawslogofinal.png" style="width:200px;" alt="PAWS Animal Shelter Logo"</h1>
    </a>
    </div>
  </header>
  <main>
    <section>
      <article>
          <%= yield %>
      </article>
    </section>
    <aside>
      <h2>Management Console</h2>
      <div class=capsule>
        <h3><a href="/paws/dogs/new">Add a dog</a></h3>
        <p>Additional dogs can be added to the dog database </p>
      </div>

      <div class=capsule>
        <h3><a href="/paws/humans/new">Add a human</a></h3>
        <p>Additional people who are interested in adopting or walking our furry friends can be added to the database</p>
      </div>

      <div class=capsule>
        <h3><a href="/paws/adoptions/new">Add an adoption</a></h3>
        <p>Update our the list of lovely pooches and lucky owners. </p>
      </div>
    </aside>
  </main>

  <body>
    <section class="wrapper">
      <main>
      </main>
      <footer>&copy 2018</footer>
    </section>
  </body>
</html>
