* {
   box-sizing: border-box;
}

.mysubnav {
  background-color: dodgerblue;
  border: none;
  color: black;
  padding: % 50%;
  margin: 1px 2px;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 1%;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.mysubnav nav{
  float: center;
  width: auto;
  height: 10%;
  text-align: center;
}
.mysubnav a {
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 80px;
  box-sizing: border-box;
}

/* links on hover */
.mysubnav a:hover {
  background-color: #ddd;
  color: black;
}

/* current active link */
.mysubnav a.active {
  background-color: #4CAF50;
  color: white;
}

html {
  line-height: 1.4;
  font-weight: 400;
  font-family: sans-serif;
}

body {
  background: lightskyblue;
  margin: 0;
  font-family: sans-serif
}


/* header navigation */
header {
  color: white;
  padding: 0.5em;
  background: dodgerblue;
  text-align: left;
}

header h1 {
  margin: 0;
}

header nav {
  display: block;
  overflow: hidden;
  text-align: left;
}

header nav a {
  /* display: inline-block;
  padding: .5em; */
  color: white;
  font-weight: 600;
  text-transform: lowercase;
  width: 35%;
  float: left;
}

header div {
  padding: 0.5em;
  background: dodgerblue;
  image-orientation: left;
}

/* top navigation */
.topnav {
    background-color: dodgerblue;
    overflow: auto;
    width: 100%
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: lightskyblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 80px;
}

/* links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* current active link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  padding: right;

}

/* Left-aligned section inside the top navigation */
.topnav-left {
  float: left;
}

a {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5em 0;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 140%;
  font-weight: 400;
  color: dodgerblue;
}

p {
  /* margin: .75em; */
  padding: .01em;
}

p + p {
  margin-top: .25em;
}

table, th, td {
  border: 1px solid dodgerblue;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
}
}

table {
    width: 100%;
}

th {
    height: 50px;
}

a.button {
    appearance: button;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 16px 16px;
    width: 30%;
    height: 10%;
    /* margin: 10%; */
    /* align: right;
    float: relative
    border: 1px solid white;
    border-top:1px; */
    /* padding-top: 25%;
    padding-right: 25%;
    padding-bottom: 25%
    padding-left:  */
}

p.thick {
    font-weight: bold;
}

div {
  padding: 1.5em;
  background: white;
}

div h3 {
  color: dodgerblue;
}

div p {
  color: dodgerblue;
}


main {
  background: aliceblue;
  padding-bottom: 1.5em;
}

main section,
main aside {
  padding: 1.5em;
  padding-bottom: 0;
}

main article {
  padding: 1.5em;
  background: white;
  border-radius: 3px;
}

main article p {
  color: dodgerblue;
  line-height: 1.5;
}

.capsule {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightskyblue;
}

.capsule  + .capsule {
  border-top: none;
}

.capsule:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.capsule:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


footer {
  color: white;
  padding: 2em;
  text-align: center;
}

@media (min-width: 800px) {
  header,
  main {
    overflow: hidden;
  }
  main section,
  main aside {
    float: left;
    width: 40%;
    box-sizing: border-box;
  }
  main section {
    width: 60%;
    padding-right: 0;
  }
  header h1 {
    float: left;
  }
  header nav {
    float: right;
  }
}

hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: dodgerblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* forms */

  input[type=text], [type=number] {
      background-color: aliceblue;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding-left: 40px;
      font-family: sans-serif;
  }

    select {
      width: 25%;
      padding: 16px 20px;
      border: none;
      border-radius: 4px;
      background-color: aliceblue;
      font-family: sans-serif;
      }

      textarea {
          width: 100%;
          height: 150px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          background-color: aliceblue;
          resize: none;
      }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: dodgerblue;
        border: none;
        color: white;
        padding: 16px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        align-self: right;
        position: relative;
        width: 30%;
        height: 10%;
        font-size: 17px;
        }


    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



:root {
  --base-vertical-rhythm: 1.5rem;
  --base-transition: 600ms cubic-bezier(0.22, 1, 0.19, 1);

  --button-bg-color: mediumseagreen;
  --button-border-radius: 0.15rem;
  --button-focus-bg-color: seagreen;
  --button-font-size: 1rem;
  --button-text-color: white;

  --form-font-family: 'verdana', sans-serif;

  --input-bg-color: white;
  --input-border-color: #eaeaea;
  --input-border-focus-color: #d8d8d8;
  --input-border-radius: 0.15rem;
  --input-error-color: red;
  --input-padding: 0.75rem;
  --input-placeholder-color: gray;
  --input-text-color: black;
  --input-underline-color: dodgerblue;
}


// Form groups
.form-group {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  border-radius: var(--input-border-radius);

  & + * {  margin-top: var(--base-vertical-rhythm); }
}

// Labels
label {
  position: absolute;
  top:  var(--input-padding);
  left: calc(var(--input-padding) + 1px);
  margin-bottom: calc(var(--input-padding) * -1.5);
  font-size: 0.5rem;
  letter-spacing: 0.0025rem;
  text-transform: uppercase;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transform: translateY(calc(var(--input-padding) / 4));
  transition:
    opacity var(--base-transition),
    transform var(--base-transition);

  .form-group:focus-within & {
    opacity: 1;
    transform: translateY(0);
  }

  .error {
    color: var(--input-error-color);
    opacity: 0;
    transition: opacity var(--base-transition);

    &:before { content: ' - '; }
  }
}

// Inputs
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  padding:
    calc(var(--input-padding) * 1.5)
    var(--input-padding);
  font-family: var(--form-font-family);
  font-size: 1rem;
  width: 100%;
  color: var(--input-text-color);
  background-color: var(--input-bg-color);
  outline: none;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: rgba(black, 0.05) 0 0.5rem 1rem -0.25rem;
  transition:
    border-color var(--base-transition),
    box-shadow var(--base-transition),
    transition var(--base-transition);

  &::placeholder {
    color: var(--input-placeholder-color);
    transition:
      color var(--base-transition),
      transform var(--base-transition);
    transition-delay: 200ms;
  }

  &:focus {
    border-color: var(--input-border-focus-color);
    box-shadow: none;
  }

  &:focus::placeholder {
    color: transparent;
    transform: translateX(calc(var(--input-padding) / 2));
    transition-duration: 0ms;
    transition-delay: 0ms;
  }

  &:focus,
  &:not(:placeholder-shown) {
    padding:
      calc(var(--input-padding) * 2)
      var(--input-padding)
      var(--input-padding);
  }

  &:not(:placeholder-shown) {
    &:invalid:not(:focus) {
      color: var(--input-error-color);
      border-color: var(--input-error-color);

      + label .error { opacity: 1; }
    }

    + label {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:-webkit-autofill + label { opacity: 1; }
}

// Buttons
button {
  padding:
    calc(var(--input-padding) * 1.5)
    calc(var(--input-padding) * 3);
  width: 100%;
  font-family: var(--form-font-family);
  font-size: var(--button-font-size);
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: var(--button-border-radius);
  box-shadow: rgba(black, 0.05) 0 0.5rem 1rem -0.25rem;
  transition:
    background-color var(--base-transition),
    box-shadow var(--base-transition),
    transition var(--base-transition);

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    background-color: var(--button-focus-bg-color);
    box-shadow: none;
    transform: translateY(1px);
  }

  &:active { transform: translateY(2px); }
}

@media (min-width: 400px) {
  button {
    width: auto;
  }
}
